@media (min-width: 1000px) {
 
    .hero { 
        min-height: 550px; 
        background-image: url('../images/hero-city-large.webp'); 
    }
    .hero-overlay h2 {
        font-size: 3.5rem; 
    }

    /* MAIN CONTENT (Grid) */
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1300px; 
        gap: 2rem;
    }
    
    .events-section { grid-area: 1 / 1 / 2 / 3; }
    .weather-section { grid-area: 1 / 3 / 2 / 5; }
    
    .mission { 
        grid-area: 2 / 1 / 3 / 5;
        padding: 2.5rem; 
        text-align: center;
    }
    
    .spotlights-section { 
        grid-area: 3 / 1 / 4 / 5;
    }

    .spotlights-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}